<body style="background:#ffffff;max-width:1000px;margin: 10px auto;">
    <div style="background:#f6f6f6;padding:2px 2% 15px;font-size:16px;line-height: 20px;font-family:'Arial', 'Helvetica-light', sans-serif;">
        <div style="text-align: center;margin:20px 0; font-weight: bold; line-height: 24px;">
            {% if receiverName %}
            Hello {{receiverName}},
            {% else %}
            Hello {{schoolName}} Parent,
            {% endif %}
        </div>  
        
        <div style="background:#ffffff; color: #333333;">
            <div style="text-align: left; position:relative; font-size: 14px; max-width: 880px; margin: 0 auto;">
                <div style="padding: 3% 5%;">
                    <p>You have been invited to create an account in DigitalDeets.</p> 
                    <p>Your child's PTA or organization is using the system to communicate and to connect with local community partners.</p>
                </div>                
            </div>
        </div>

        <div style="margin:20px;">
            <p>WHY DIGITALDEETS? {{schoolName}} has adopted the DigitalDeets system to communicate with you.</p>
            <p>WHAT IS DIGITALDEETS? DigitalDeets is a parent and community engagement tool designed to help organization communities connect, communicate, and engage.</p>
            <p>WHAT DO I NEED TO DO? Set up an account for full access to the system. Once you create your account you can: access our mobile and web applications, manage your account preferences, view every image sent with every post, direct message school users, and access more school information from your school.</p>
        </div>
        
        <div style="text-align: center; margin-top:30px;">
            <a href="{{appURL}}/parent-registration?parent_id={{userId}}" style="display: inline-block; text-decoration:none; padding: 12px 15px; text-align: center;background: #f06e34;color: #fff;border-radius: 4px;" target="_blank">Set up my account</a>
        </div>

        <div style="border-top: 1px solid #cac5c5; text-align: center; margin-top:30px;">
            <div style="margin-top:30px">
                <div style="text-align: center; margin:10px 0">
                    <div style="padding: 5px 20px; display:inline-block;font-size:12px;">
                        <a style="text-decoration:none;color: #0c769d;" href="https://itunes.apple.com/us/app/school-deets/id1109287736?mt=8" target="_blank">Download in iTunes</a>
                    </div>
                    <div style="padding: 5px 20px; display:inline-block;font-size:12px;"> 
                        <a style="text-decoration:none;color: #0c769d;" href="https://play.google.com/store/apps/details?id=com.schooldeets.app&hl=en" target="_blank">Download in Google Play</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div style="text-align: center; color: #b3b3b1; font-size:12px">Sent by {{schoolName}} using the DigitalDeets system, 2432 S. Downing Street, Suite 105 Denver, CO 80210</div>
        
        <div style="margin-top:10px;font-size:12px;color:#b3b3b1;text-align:center;">
            Please review our updated <a style="color: #b3b3b1;text-decoration:underline;" href="https://www.digitaldeets.com/terms-of-use">Terms of Service</a> and <a style="color: #b3b3b1;text-decoration:underline;" href="https://www.digitaldeets.com/privacy-policy">Privacy Policy</a>.
        </div>
    </div>
</body>
