<body style="background:#ffffff;max-width:1000px;margin:10px auto;">
    {% if description %}
    <div style="display:block;font-weight:bold;margin-bottom: 15px;">
        <img src="{{organizationIcon}}" width="50" style="vertical-align:middle;margin-right: 10px;border-radius: 3px;" alt="">
        <span style="vertical-align:middle;font-size:16px;">{{description}}</span>
    </div>
    {% endif %}
    <div style="background:#f6f6f6;padding:20px 2% 15px;font-size:16px;line-height: 20px;font-family:'Arial', 'Helvetica-light', sans-serif;">
        <div style="background:#ffffff;color:#333333;border-radius:5px;">
            <div style="text-align:left;padding:10px 5px 15px;position:relative;font-size:14px;max-width:880px;margin:0 auto;">
                {{content|safe}}
            </div>
        </div>

        <div style="border-top: 1px solid #cac5c5; text-align: center; margin-top:30px;">
            <div style="margin-top:5px">
                <div style="text-align: center; margin:10px 0">
                    <div style="padding: 5px 20px; display:inline-block;font-size:12px;">
                        <a style="text-decoration:none;color:{{organizationBrand.secondary_color}}" href="https://itunes.apple.com/us/app/school-deets/id1109287736?mt=8" target="_blank">Download in iTunes</a>
                    </div>
                    <div style="padding: 5px 20px; display:inline-block;font-size:12px;"> 
                        <a style="text-decoration:none;color:{{organizationBrand.secondary_color}}" href="https://play.google.com/store/apps/details?id=com.schooldeets.app&hl=en" target="_blank">Download in Google Play</a>
                    </div>
                </div>
            </div>
        </div>

        <div style="font-size:12px;color:#b3b3b1;text-align:center;">
            <div style="margin-bottom:5px;">
                {% if templateVersion == '1' %}
                Sent by Digital Deets, 4041 S. Narcissus Way, Denver, CO, 80237            
                {% elseif templateVersion == '2' %}
                Sent by {{organizationName}} using the Digital Deets system, 4041 S. Narcissus Way, Denver, CO, 80237
                {% elseif templateVersion == '3' %}
                Sent by Digital Deets, 4041 S. Narcissus Way, Denver, CO, 80237
                {% endif %}
            </div>

            <div style="margin:5px 0 10px;">
                {{footer_content|safe}}
            </div>

            <div>Questions for Digital Deets? <a href="https://digitaldeets.com/contact/" style="text-decoration: none;color:{{organizationBrand.secondary_color}};">Contact us</a>.</div>
        </div>
    </div>
    {% if promotionIDs %}
    <img src="{{appURL}}/email_pixel/post_read.php?parent_id={{userId}}&post_id={{postId}}&ads_post_id={{promotionIDs}}&org_id={{organizationID}}&image=tracking.png" alt="" width="1" height="1" />
    {% else %}
    <img src="{{appURL}}/email_pixel/post_read.php?parent_id={{userId}}&post_id={{postId}}&org_id={{organizationID}}&image=tracking.png" alt="" width="1" height="1" />
    {% endif %}
</body>