<body style="background:#ffffff;max-width:1000px;margin: 10px auto;">
    <div style="background:#f6f6f6;padding:2px 2% 15px;font-size:16px;line-height: 20px;font-family:'Arial', 'Helvetica-light', sans-serif;">
        <div style="text-align: center;margin:20px 0; font-weight: bold; line-height: 24px;">
            Hello{% if receiverName %} {{receiverName}}{% endif %},
        </div>  
        
        <div style="background:#ffffff;color:#333333;border-radius:5px;">
            <div style="text-align: left; padding: 15px; position:relative; font-size: 14px; max-width: 880px; margin: 0 auto;">
                <p>{{schoolName}} is inviting you to become an influencer on their behalf. Influencers help their organizations by sharing community promotions to their own networks. When you become an influencer for {{schoolName}}, your notifications for promotions will be turned on. Then every time a promoting organization or sponsor of your organization creates a promotion in Digital Deets, you can help spread the information through the multiple sharing options included at the bottom of the promotion. You can turn off notifications for promotions any time by heading to your Account Settings. Click yes to help.</p>
                <p>Kind Regards,<br/>Digital Deets Team</p>       
            </div>
        </div>
        
        <div style="text-align: center; margin-top:30px;">
            <a href="{{agreeLink}}" style="display: inline-block; text-decoration:none; padding: 12px 15px; text-align: center;background: #f06e34;color: #fff;border-radius: 4px;" target="_blank">Yes. I'm happy to help.</a>
        </div>

        <div style="border-top: 1px solid #cac5c5; text-align: center; margin-top:30px;">
            <div style="margin-top:30px">
                <div style="text-align: center; margin:10px 0">
                    <div style="padding: 5px 20px; display:inline-block;font-size:12px;">
                        <a style="text-decoration:none;color: #0c769d;" href="https://itunes.apple.com/us/app/school-deets/id1109287736?mt=8" target="_blank">Download in iTunes</a>
                    </div>
                    <div style="padding: 5px 20px; display:inline-block;font-size:12px;"> 
                        <a style="text-decoration:none;color: #0c769d;" href="https://play.google.com/store/apps/details?id=com.schooldeets.app&hl=en" target="_blank">Download in Google Play</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div style="text-align: center; color: #b3b3b1; font-size:12px">Sent by {{schoolName}} using the Digital Deets system, 4041 S. Narcissus Way, Denver, CO 80237</div>
        
        <div style="margin-top:10px;font-size:12px;color:#b3b3b1;text-align:center;">
            Please review our updated  <a style="color: #b3b3b1;text-decoration:underline;" href="https://www.digitaldeets.com/terms-of-use">Terms of Service</a> and <a style="color: #b3b3b1;text-decoration:underline;" href="https://www.digitaldeets.com/privacy-policy">Privacy Policy</a>.
        </div>
    </div>
</body>